button{
    padding: 20px;
    padding: 20px;
    background-color: purple;
    border: 1px solid purple;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}